#PersonalToolbar, #PersonalToolbar menuitem, #PersonalToolbar menu {
	font-size: 12px;
	height: 28px;
}

#PlacesToolbarItems .bookmark-item {
	margin-right: 10px !important;
}

#TabsToolbar .tab-background {
	/* border-right: 0px; */
	/* border-left: 0px; */
}

/* Style the navigation bar (back and forward buttons, address bar, et. al.) */
#nav-bar-customization-target {
	padding-left: 5px !important;
}

/* Hide overflow menu */
#nav-bar-overflow-button {
	display: none !important;
}

/* Hide page actions menu */
#pageActionButton {
	display: none;
}

#titlebar {
	border: 0 !important;
}

#urlbar {
    border-radius: 15px !important;
}

/* The border between the address bar and the tab row */
.browser-toolbar {
	box-shadow: none !important;
}

/* Rounded Tabs */
.tab-background {
   	border-image: none;
    border-radius: 6px 6px 0px 0px !important;
	border-left: solid 0px #aaaaaa !important;
	border-right: solid 0px #aaaaaa !important;
	border-top: solid 0px #aaaaaa !important;
}

/* Tab divider */
/* (Set display to none for rounded tabs.) */
.tabbrowser-tab::before, .tabbrowser-tab::after {
/* 	margin-top: 1px !important; */
	display: none !important;
}

/* Tab label display settings */
.tabbrowser-tab .tab-label {
	font-size: 12px;
/*  height: 30px; */
/*  padding-top: 9px; */
/*  padding-left: 3px;  */
}

/* Close tab button dispaly and opacity */
.tabbrowser-tab .tab-close-button {
/* 	display: none; */
	opacity: .1;
}

/* Close tab button hover opacity */
.tabbrowser-tab:hover .tab-close-button {
	opacity: .6;
}

.tabbrowser-tab {
    min-width: 1em;
	clip-width: 1em;
}

/* FavIcon in Tab */
.tab-icon-image {
/*  display: none; */
/*  clip-path: circle(8px at center); */
/*  margin-top: 5px !important; */
	margin-left: 3px !important;
}

/* Center tab label text */
.tab-label {
    /* -moz-box-flex: 1; */
    /* text-align: center;  */
}

.tab-line {
	display: none !important;
}

.tab-line[selected="false"] {
	display: none;
}

.tab-line[selected="true"] {
 	display: none;
/* 	background-color: #333 !important; */
}

.titlebar-placeholder {
	border-right: none;
}

/* Style the divider line before the first tab */
.titlebar-spacer[type="pre-tabs"] {
	border-right: none !important;
	width: 10px !important;
}

.toolbarbutton-text {
	margin-left: 5px !important;;
}

