#TabsToolbar > * {
	opacity: 100%;
}

#PersonalToolbar, #PersonalToolbar menuitem, #PersonalToolbar menu {
	font-size: 12.5px;
	height: 30px;
}

#PlacesToolbarItems .bookmark-item {
	margin-left: 2px;
	margin-right: 10px;
	padding-bottom: 1px;
	padding-top: 1px;
/* 	text-transform: lowercase; */
}

/* Tab label display settings */
.tabbrowser-tab .tab-label {
	font-size: 12px;
	height: 32px;
	padding-bottom: 1px;
	padding-top: 6px;
	border-top: 0;
/* 	text-transform: lowercase; */
}

/* Hide FavIcon in Tab */
.tab-icon-image {
    display: none;
/* 	clip-path: circle(8px at center); */
}

/* Center tab label text */
.tab-label {
/*     -moz-box-flex: 1; 
	text-align: center;  */
	text-transform: lowercase;
}   

.tab-line[selected="false"] {
	display: none;
}

.tab-line[selected="true"] {
	display: none;
}

tab[selected="true"] {
	border-top: 0px;
	padding-top: 0px;
}

.tab-background {
	border-image: none;
/* border-radius: 2px 2px 0px 0px; */
}

/*  Change divider margins for rounded tabs */
.tabbrowser-tab::before, .tabbrowser-tab::after {
	margin-top: 1px;
}

.titlebar-placeholder {
	border-right: none;
}

/* Style the divider line before the first tab */
.titlebar-spacer[type="pre-tabs"] {
	border-right: none !important;
}

/* If the divider line before the first tab is hidden, add a left border to the first tab when it's selected. */
.tabbrowser-tab:first-child[selected="true"] {
	border-left: solid 1px #aaa !important;
}

/* Close tab button opacity */
.tabbrowser-tab .tab-close-button {
/* 	display: none; */
	opacity: .1;
}

/* Close tab button hover opacity */
.tabbrowser-tab:hover .tab-close-button {
	opacity: .6;
}

#TabsToolbar .tab-background {
	/* border-right: 0px; */
	/* border-left: 0px; */
}

.tabbrowser-tab {
	min-width: 1em;
	clip-width: 1em;
}
